.contacts {
    padding: 0;
}

.contacts li {
    list-style: none;
    padding: 1em 0.5em;
    background: cyan;
    margin: 1em;
    width: 300px;
    display: inline-flex;
    border-radius: 0.8em;
    position: relative;
}

.contacts li img {
  border-radius: 50%;
  margin-right: 10px;
  float: left;
}

.edit {
    position: absolute;
    top: 5px;
    right: 10px;
}

.data {
  display: flex;
  flex-direction: column;
}

.data p {
  margin-bottom: 0;
}
