.nav {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin-bottom: 1em;
    background: aliceblue;
    padding: 1em;
}

.nav a {
    margin: 0 1em;
}

.active {
    text-decoration: none;
}
